body {  
    background-image: url('https://raw.githubusercontent.com/vffuunnyy/shikimori-style/main/assets/background.png'), url('https://raw.githubusercontent.com/vffuunnyy/shikimori-style/main/assets/inset-background.png');
    background-repeat: no-repeat, repeat;
    background-position: center center, center center;
    background-attachment: fixed, scroll;
    background-color: #1c1c1c;
    background-size: cover, auto;
}

.p-profiles-show .cc-favourites .c-column {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 10%;
}

.l-page {
    background-image: url('https://raw.githubusercontent.com/vffuunnyy/shikimori-style/main/assets/inset-background-white.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-color: white;
    background-size: auto;
}
