body {
    background-image: url('https://raw.githubusercontent.com/vffuunnyy/shikimori-style/main/assets/background.png');
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1E1E1E;
}

.l-page {
    background-image: url('https://raw.githubusercontent.com/vffuunnyy/shikimori-style/main/assets/inset-background.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-color: #1E1E1E;
    background-size: 20%;
}